<footer>

    <div class="title">

        Контакт-центр Гемотест
        <span>Gemotest Support</span>

    </div>

    <div class="contacts">
        <div>
            <p>
                <a href="tel:8 (800) 550-13-13">8 (800) 550-13-13</a>
                <span>Справка 24/7 • 24/7 Help</span>
            </p>
        </div>
        <div>
            <p>
                <a href="tel:+7 (495) 532-13-13">+7 (495) 532-13-13</a>
                <span>Центральный офис Гемотест • Gemotest HQ</span>
            </p>
        </div>
    </div>

    <div class="copyright">
        © ООО «Лаборатория Гемотест», 2020.
        <br>
        Gemotest Laboratory Ltd.
        <!-- <p>© ООО «Лаборатория Гемотест», 2020.</p>
        <p>Gemotest Laboratory Ltd.</p> -->
    </div>

</footer>

</body>
</html>